.dashboard_navbar_conatiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 15px 10px;
  position: relative;
}
.dasboard_navbar_logo {
  width: 10%;
}
.dasboard_navbar_logo > i {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 600;
  font-size: 29px;
  font-family: monospace;
  cursor: pointer;
}
.dashboard_search_bar {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 60%;
}
.dashboard_search_bar > input {
  position: relative;
  display: block;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 10px 20px;
  width: 50%;
  outline: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.dashboard_search_bar > span {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 14px;
  color: gray;
}
.dashboard_search_bar > p {
  color: #000000;
  font-size: 25px;
  line-height: 37px;
  font-weight: 600;
  font-family: poppins, sans-serif;
}
.dashoard_notification_profile {
  display: flex;
  align-items: center;
}
.dashoard_notification_profile > p {
  margin-right: 17px;
  cursor: pointer;
  color: #5c8b7f;
}
.dashoard_notification_profile > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

/* stting animation */
.dashboard_setting_icon {
  animation: settingRotate 4s infinite;
  -webkit-animation: settingRotate 4s infinite;
  padding: 0;
  margin: 0;
}
@keyframes settingRotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
