.dash_board_nvbar_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.tooltip > .tooltipIcon {
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  color: gainsboro;
  cursor: pointer;
  background-size: cover;
}
.tooltip .tooltipIcon:hover {
  background-color: gainsboro;
  color: black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
